---
title: "Team"
---

<h1>
  The Team Behind Ember
</h1>

<p class="lead">
  Ember is an Open Source project that relies on the tireless support of
  individual contributors.<br>
  These are the members of our Core Team:
</p>

<table class="headshots">
  <% data.team.each_slice(4) do |slice| %>
    <tr>
      <% slice.each do |user| %>
        <td>
          <a href="<%= user.github %>" rel="nofollow" class="avatar">
            <img src="/images/team/<%= user.image %>">
          </a>

          <p class="name">
            <%= user.name %>
          </p>

          <ul class="social">
            <li>
              <a class="twitter" href="http://twitter.com/emberjs">
                <i class="icon-twitter"></i><span>Twitter</span>
              </a>
            </li>

            <li>
              <a class="github" href="https://github.com/emberjs/ember.js">
                <i class="icon-github"></i><span>GitHub</span>
              </a>
            </li>
          </ul>

          <p class="bio">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore.
          </p>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<hr>

<p class="lead">
  In addition to the Core Team, the following people contribute significantly
  to the Ember project.<br>
  We're grateful for their assistance.
</p>

<table class="contributors headshots">
  <% data.team.each_slice(6) do |slice| %>
    <tr>
      <% slice.each do |user| %>
        <td>
          <a href="<%= user.github %>" rel="nofollow" class="avatar">
            <img src="/images/team/<%= user.image %>">
          </a>

          <p class="name">
            <%= user.name %>
          </p>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
